# Virtual environment directories
venv/
env/
.myenv/
myenv/
.venv/
bin/
lib/
Include/
pyvenv.cfg

# SSL key
*.pem

# Media directory
src/backend/django/tr_django/media/*
!src/backend/django/tr_django/media/.gitkeep

# Python bytecode and cache files
__pycache__/
*.py[cod]
*$py.class

# Django migrations
*/migrations/*.py
*/migrations/*.pyc

# Sensitive information
.env

# macOS specific files
.DS_Store

# Python virtual environment management files
pip-log.txt
pip-delete-this-directory.txt

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache

# pytest cache
.pytest_cache/

# Temporary files
*.tmp
*.bak
*.swp
*.swo

#db
db.sqlite3

# IDE settings
# .vscode/

# Docker
postgres_data/
/posgtres_data

# Logs
**/logs/
**/logs/*.log
*.log
src/nginx/logs/*.log
src/nginx/logs/access.log

# Ignore all files in media/avatars
media/avatars/*
src/backend/django/tests/media/*

# But keep the directories with .gitkeep
!media/avatars/.gitkeep
!media/avatars/default/.gitkeep
!media/avatars/users/.gitkeep
!media/avatars/tests/.gitkeep

# Keep default images
!media/avatars/default/default.jpeg

# Keep test images
!src/backend/django/tests/media/max_fischer.jpeg
!src/backend/django/tests/media/lex.png

#So the intern doesn't push thousands of lines incognito:
tore.

ssl-keys/
