# Virtual environment directories
venv/
env/
.myenv/
myenv/
.venv/
bin/
lib/
Include/
pyvenv.cfg

# Media directory
src/backend/django/tr_django/media/*
!src/backend/django/tr_django/media/.gitkeep

# Python bytecode and cache files
__pycache__/
*.py[cod]
*$py.class

# Django migrations
*/migrations/*.py
*/migrations/*.pyc

# Sensitive information
.env

# macOS specific files
.DS_Store

# Python virtual environment management files
pip-log.txt
pip-delete-this-directory.txt

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache

# pytest cache
.pytest_cache/

# Temporary files
*.tmp
*.bak
*.swp
*.swo

#db
db.sqlite3

# IDE settings
# .vscode/

# Docker
postgres_data/
/posgtres_data

# Logs
**/logs/
*.log

# Media files
media/avatars/users/*
media/avatars/tests/*
!media/avatars/default/*
!media/avatars/*/.gitkeep