.page-container--home {
  /* This together with page-container is replacing the home rule */
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.page-container__title--home {
  /* This is the modifier for the page-container__title rule */
  font-size: 4rem;
}

@media (min-width: 600px) {
  .page-container__title--home {
    font-size: 6rem;
  }
}

@media (min-width: 900px) {
  .page-container__title--home {
    font-size: 8rem;
  }
}

.home__button {
  display: block;
  margin: 0 auto;
}