# Ignore node_modules and other development files
node_modules/
npm-debug.log
yarn-error.log

# Ignore git files
.git
.gitignore

# Ignore editor settings and local environment files
.vscode/
.idea/
.env

# Ignore temporary and log files
*.swp
*.log
*.tmp

# Ignore Docker-related files
Dockerfile
docker-compose.yml
.dockerignore

