<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body>
    <h1>User Profile</h1>

    <h2>User Information (native django)</h2>
    <p><strong>Username:</strong> {{ user.username }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>First Name:</strong> {{ user.first_name }}</p>
    <p><strong>Last Name:</strong> {{ user.last_name }}</p>

    <h2>Profile Information (extended from native django)</h2>
    <p><strong>Bio:</strong> {{ profile.bio }}</p>
    <p><strong>Location:</strong> {{ profile.location }}</p>
    <p><strong>Level:</strong> {{ profile.level }}</p>

	{% if profile.player_picture %}
	<h4>Profile Picture:</h4>
	<img src="{{ profile.player_picture.url }}" alt="Profile Picture" width="100">
	{% else %}
	<h4>No profile picture uploaded.</h4>
	{% endif %}

	<h3>Update Profile</h3>
	<form method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	{{ form.as_p }}
	<button type="submit">Update Profile</button>
	</form>


</body>
</html>
