.form-error {
  /* display: flex;
	  align-items: center;
	  gap: var(--spacing-xs);
	  color: var(--color-error);
	  font-size: var(--font-size-small);
	  margin-top: var(--spacing-xs);
	  font-family: var(--font-family-primary); */
  display: none;
}

.form-error__icon {
  font-size: 1.2em;
}

/* Generic form classes */
.form-field {
  position: relative;
  margin-bottom: var(--spacing-md);
}

.form-label {
  display: block;
  font-family: var(--font-family-primary);
  font-size: var(--font-size-small);
  color: var(--color-text-primary);
  margin-bottom: var(--spacing-xs);
}

.form-input {
  width: 100%;
  padding: var(--spacing-xs);
  background: var(--color-background-light);
  border: var(--border-width) solid var(--color-border);
  color: var(--color-text-primary);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-small);
}

.form-input--error {
  border-color: var(--color-error);
}

.form-error {
  display: none;
}

.form-input:invalid + .form-error {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
  color: var(--color-error);
  font-size: var(--font-size-small);
  margin-top: var(--spacing-xs);
  font-family: var(--font-family-primary);
}
